:root {
    --size: 450px;
    --fsize: 45px;
    --trans: 0.6;
}

body:after{
    content:"";
    position:fixed; top:0;
    height:100vh; 
    left:0;
    right:0;
    z-index:-1;
    background-image: url('Lakeside.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.word{
    float: left;
    background: rgba(120, 120, 120, var(--trans));
    color: white;
    font-family: sans-serif;
    border-style: solid;
    border-color: black;
    width: var(--size);
    height: 450px;
    margin:5px;
    padding: 10px;
}

#zoom,#trans{
    width: var(--size);
}

body{
    font-size: var(--fsize);
}

.sliders, button, #searchbar{
    font-size: var(--fsize);
    background-color: white;
    margin-top: 10px;
    font-family: sans-serif;
    border: solid;
}

#popupmenue{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index:9;
    background-color: rgba(0, 0, 0, 0.3)
}

#menu{
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: white;
    font-family: sans-serif;
    border-style: solid;
    border-color: black;
    z-index:10;
}

.filters{
    float:left;
    margin:10px;
    padding:5px;
    font-size: var(--fsize);
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
}

.filters:hover{
    background-color: rgb(220, 220, 220);
}

#filtermode{
    position: absolute;
    bottom:2vh;
    right:2vh;
}